/FriendDAO.class
/MemoDAO.class
/SettingDAO.class
/UserDAO.class
/MiniroomDAO.class
/MessageDAO.class
/AdminDAPO.class
/AdminDAO.class
/BoardDAO.class
/ApplicationDAO.class
/LikedDAO.class
/TEST.class
/test.class
/QnaDAIO.class
/QnaDAO.class
/PostDAO.class
/commentDAO.class
/reportsDAO.class
/GameDAO.class
